.top-bar {
    flex: 0;
    padding: 20px 60px 50px 60px;
}

.top-bar__content {
    height: 83.14px;
    background-color: bisque;
    display: flex;
}

.hero__image {
    position: relative;
}

.hero__image--sun {
    height: 33%;
    top: 18%;
    left: 57%;
    position: absolute;
    z-index: -1;
}

.hero__image--boat {
    position: absolute;
    top: 54%;
    left: 36%;
    height: 14.63%;
    width: 2.4%;
}

.hero__image--beach {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 10%;
    width: 50%;
}

.hero__image--mountain-astronaunt {
    width: 100%;
}

.hero__image--white-mountain {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.hero__image__left-column {
    /* top: 235px;
    left: 89px;
    width: 713px;
    height: 299px;
    background-color: burlywood;
    position: absolute; */
}