    .services {
        width: 1530px;
        height: 1146px;
        display: flex;
        flex-direction: column;
    }
    
    .services__container {
        flex: 2.5;
        display: flex;
        padding-bottom: 160px;
    }
    
    .services__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .services__item--text h3 {
        margin-top: 5px;
        margin-bottom: 0;
        color: #606060;
        font-size: 32px;
        line-height: 37px;
        font-weight: bold;
    }
    
    .services__item--text p {
        margin-bottom: 5px;
    }
    
    .services__item--sub-text {
        color: #969595;
        text-align: center;
    }
    
    .services--button {
        width: 150px;
        height: 45px;
        background-color: #03AB5A;
        border-radius: 5px;
        border: 0;
    }
    
    .business__container {
        flex: 7.5;
        background-color: #03AB5A;
        border-radius: 50px;
        display: flex;
    }
    
    .business__left {
        flex: 0 0 537px;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        margin-left: 130px;
    }
    
    .business__left--content {
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        margin-top: 10px;
    }
    
    .business__left--sub-content {
        margin-top: 5px;
    }
    
    .business__left .btn {
        margin-top: 15px;
        width: 149.26px;
        height: 45px;
        background-color: #FDD78E;
    }
    
    .business__right {
        flex: 1;
        position: relative;
    }
    
    .business__image {
        position: absolute;
        top: -50px;
        width: 112%;
    }
    
    .project {
        width: 1528px;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    
    .project-title__container {
        display: flex;
        width: 100%;
        height: 245px;
    }
    
    .project-title__content {
        width: 990px;
    }
    
    .project-title__content p {
        color: #969595;
    }
    
    .project-title__content h2 {
        color: #606060;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
    }
    
    .project-title__content span {
        position: relative;
        z-index: 0;
    }
    
    .project-title__content img {
        position: absolute;
        left: 1px;
        bottom: 0;
        z-index: -1;
    }
    
    .project-title__image {
        display: flex;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    
    .project-image__container {
        display: flex;
        justify-content: space-between;
    }
    
    .project-contact__container {
        display: flex;
        background-color: #f1f2f1;
        border-radius: 15px;
        height: 604px;
        margin-top: 150px;
    }
    
    .project-contact__left {
        flex: 0 880px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-contact__left--container {
        position: relative;
        width: 476.89px;
        height: 130px;
        top: -45px;
    }
    
    .project-contact__left--container span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        color: #606060;
    }
    
    .project-contact__right {
        display: flex;
        align-items: center;
        flex: 1;
    }
    
    .project-contact__right--container {
        width: 315px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -45px;
    }
    
    .project-contact__right__profile {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
    }
    
    .project-contact__right__profile--name {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }
    
    .project-contact__right__profile--position {
        font-size: 16px;
        line-height: 18px;
        color: #606060;
    }
    
    .contact {
        margin: 75px 0;
    }
    
    .contact__left {
        flex: 0 960px;
    }
    
    .contact__left--container p {
        color: #03AB5A;
        margin-bottom: 10px;
    }
    
    .contact__left--container h2 {
        font-size: 48px;
        line-height: 55px;
        color: #161616;
        margin-bottom: 10px;
    }
    
    .contact__left--container span {
        font-size: 32px;
        line-height: 37px;
        color: #161616;
    }
    
    .contact__left--container .decoration {
        position: relative;
        z-index: 0;
    }
    
    .contact__left--container img {
        position: absolute;
        right: 2px;
        bottom: -1px;
        z-index: -1;
    }
    
    .contact__right {
        flex: 1;
    }